  body {
    margin: 5em auto;
    line-height: 145%;
    font-family: sans-serif;
    font-size: 1.0em;
    width: 700px;
  }

  p {
    margin-top: 0;
  }

  h3, h4 {
    margin-bottom: 0.5em;
  }

  table td {
    text-align: center;
  }

  table {
    border-collapse: collapse;
  }

  table td, table th {
    border-left: 1px solid black;
    border-right: 1px solid black;
  }

  table tr:first-child th {
    border-top: 0;
    padding: 0.3em 0.6em;
    border-bottom: 1px solid black;
  }

  table tr:last-child td {
    border-bottom: 0;
  }

  table tr td:first-child,
  table tr th:first-child {
    border-left: 0;
  }

  table tr td:last-child,
  table tr th:last-child {
    border-right: 0;
  }

  code {
    font-size: 1.15em;
  }

  pre > code {
    font-size: 0.95em;
  }

  #answer {
    display: none;
  }
